.admin-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.sidebar {
  width: 260px;
  background-color: #1a1c23;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #333;
  z-index: 1000;

  @media (max-width: 767px) {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    border-right: none;
    border-bottom: 1px solid #333;
  }
}


.header-top {
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
  }
}

.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 25px;
  
  @media (max-width: 767px) {
    padding-bottom: 0;
    border-bottom: none;
  }

  .mini-logo {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    @media (max-width: 767px) { width: 32px; height: 32px; }
  }

  span {
    font-weight: bold;
    font-size: 1.2rem;
    color: #00ff88;
    @media (max-width: 767px) { font-size: 0.95rem; }
  }
}

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 20px;

  @media (max-width: 767px) {
    flex-direction: row;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #2d303e;
  }

  a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 15px;
    color: #adb5bd;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 4px;
      padding: 8px 5px;
      font-size: 0.7rem;
      flex: 1;
      text-align: center;
    }

    &.active-link {
      background-color: #00ff88;
      color: #1a1c23;
      font-weight: bold;
    }
  }
}

.sidebar-footer {
  margin-top: auto; 
  padding-top: 20px;

  @media (max-width: 767px) {
    margin-top: 0;
    padding-top: 0;
  }

  .btn-logout {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 1.5px solid #ff4d4d;
    color: #ff4d4d;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap; 

    @media (max-width: 767px) {
      width: auto; 
      padding: 6px 12px;
      font-size: 0.7rem;
    }

    &:hover {
      background: #ff4d4d;
      color: white;
    }
  }
}

.main-content {
  flex: 1;
  background-color: #f4f7f6;
  padding: 30px;
  overflow-y: auto;
  @media (max-width: 767px) { padding: 15px; }
}