<div class="container">
  <header class="header">
    <div class="greeting">
      <p>Hola, Bairon 👋</p>
      <h1>Mis mascotas</h1>
    </div>
    <div class="avatar-user">B</div>
  </header>

  <div class="pet-card" routerLink="/home/perfil">
    <div class="pet-img">
      <img src="assets/perro_icon.png" alt="Rocky">
    </div>
    <div class="pet-info">
      <h3>Rocky</h3>
      <p>Golden Retriever • 3 años</p>
      <span class="badge-status">Al día</span>
    </div>
  </div>

  <section class="upcoming">
    <h3>Próximas vacunas</h3>
    <div class="item">
      <div>
        <h4>Antirrábica</h4>
        <p>15 mayo 2026</p>
      </div>
      <button class="btn-tag next">Próxima</button>
    </div>
  </section>
</div>